- name: Check Docker is installed
  command: docker --version
  register: docker_version
  ignore_errors: yes

- name: Fail if Docker is not installed
  fail:
    msg: "Docker is not installed. Please install Docker Desktop first."
  when: docker_version.rc != 0
